${font :style=Bold}WI-FI${font} ${hr 2}
       Up: ${upspeed wlan0} ${alignr}${upspeedgraph wlan0 8,60 000000 000000}
       Down: ${downspeed wlan0} ${alignr}${downspeedgraph wlan0 8,60 000000 000000}
       Upload: ${alignr}${totalup wlan0}
       Download: ${alignr}${totaldown wlan0}
       Signal: ${wireless_link_qual wlan0}% ${alignr}${wireless_link_bar 8,60 wlan0}
       Local Ip: ${alignr}${addr wlan0}

${font :style=Bold}LAN${font} ${hr 2}
       Up: ${upspeed eth0} ${alignr}${upspeedgraph eth0 8,60 000000 000000}
       Down: ${downspeed eth0} ${alignr}${downspeedgraph eth0 8,60 000000 000000}
       Upload: ${alignr}${totalup eth0}
       Download: ${alignr}${totaldown eth0}
       Local Ip: ${alignr}${addr eth0}
       Ip externo: ${alignr}${execi 10800 ~/.conkycolors/bin/conkyIp}

${font :style=Bold}WAN${font} ${hr 2}
       Up: ${upspeed ppp0} ${alignr}${upspeedgraph ppp0 8,60 000000 000000}
       Down: ${downspeed ppp0} ${alignr}${downspeedgraph ppp0 8,60 000000 000000}
       Upload: ${alignr}${totalup ppp0}
       Download: ${alignr}${totaldown ppp0}
       Local Ip: ${alignr}${addr ppp0}

       Ip externo: ${alignr}${execi 10800 ~/.conkycolors/bin/conkyIp}
